<header id="header">
    <a [routerLink]="['Home']">
        <img id="logo" src="../../assets/images/angular.png" alt="">
        <h1>{{TituloPagina}}</h1> 
    </a>
    <div class="clearfix"></div>
</header>
<nav id="nav">  
    <ul>
        <li>
            <a [routerLink]="['Home']">Inicio</a>
        </li>
        <li>
            <a [routerLink]="['CrearRestaurante']">Crear Restaurante</a>
        </li>
        <li>
            <a [routerLink]="['RestauranteAleatorio',{random:'true'}]">Restaurante Aleatorio</a>
        </li>
    </ul>
</nav>
<section class="main">
<!--Compoentenes de la pagina-->
    <router-outlet></router-outlet>
    <div class="clearfix"></div>
</section>
