<h1> {{TituloPagina}} </h1>

<ul id="restaurantes-list">
    <li *ngFor="#restaurante of restaurantes" class="restaurante-item">
        <div class="image"></div>
        <div class="data">
            <h4>{{restaurante.nombre}}</h4>
            <p>{{restaurante.direccion}}</p>
            <p>{{restaurante.descripcion}}</p>
            <p>{{restaurante.precio}}</p>
            <p>
                <a href="" class="btn btn-ver">Ver</a>
                <a href="" class="btn btn-editar">Editar</a>
                <a href="" class="btn btn-eliminar">Eliminar</a>
            </p>
        </div>
        <div class="clearfix"></div>
    </li>
    <div class="clearfix"></div>    
</ul>